<ion-header>
  <ion-toolbar>
    <ion-title>
      Inventario
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar></ion-searchbar>  <!--OJO: No me funciona aun, no se que hacer en realidad aqui-->
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <img src="/assets/img/1.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Piano de cola</ion-card-title>
        <ion-card-subtitle>ID: 01</ion-card-subtitle>
        <ion-card-subtitle>Precio: $1590</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Un fabuloso piano de cola Yamaha modelo C7</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="/assets/img/2.jpg" alt="" />
        <ion-card-header>
          <ion-card-title>Saxofón</ion-card-title>
          <ion-card-subtitle>ID: 02</ion-card-subtitle>
          <ion-card-subtitle>Precio: $749</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Saxofon Tenor Century CNSX010</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="/assets/img/3.jpg" alt="" />
          <ion-card-header>
            <ion-card-title>Bateria acústica</ion-card-title>
            <ion-card-subtitle>ID: 03</ion-card-subtitle>
            <ion-card-subtitle>Precio: $1329</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Bateria acústica Tama Imperialstar IP52KH4N</p>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="/assets/img/4.jpg" alt="" width="640" height="640"/>
            <ion-card-header>
              <ion-card-title>Violín</ion-card-title>
              <ion-card-subtitle>ID: 04</ion-card-subtitle>
              <ion-card-subtitle>Precio: $495</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Violin Memphis FTMV001</p>
            </ion-card-content>
          </ion-card>
          <ion-card>
              <img src="/assets/img/5.jpg" alt="" />
              <ion-card-header>
                <ion-card-title>Trompeta</ion-card-title>
                <ion-card-subtitle>ID: 05</ion-card-subtitle>
                <ion-card-subtitle>Precio: $3628</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>Trompeta Adams A5</p>
              </ion-card-content>
            </ion-card>
</ion-content>
